@import url("common.css");

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/*font-family: 'Nanum Gothic', sans-serif; 나눔고딕*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/*font-family: 'Archivo', sans-serif; 네비 폰트*/

#wrap{
    width: 100%; height: 100vh;
}

/*네비*/
nav{
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 60px 110px;
}
nav a{
    font-size: 1.16rem;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    transition: .5s;
}
nav a:before{
    content: "";
    display: block;
    width: 0%; height: 3px;
    margin-left: 50%;
    margin-bottom: 3px;
    background: #62aaae;
    transition: .3s;
}
nav a:hover:before{
    margin-left: 0;
    width: 100%;
}
nav a:hover{
    color: #62aaae;
}

/*버거*/
.burger{
    width: 35px; height: 35px;
    position: relative;
    margin: 60px 110px;
    display: none;
}
.burger span{
    width: 35px; height: 2px;
    background: #62aaae;
    position: absolute;
    left: 0; top: 0;
}
.burger span:nth-of-type(1){}
.burger span:nth-of-type(2){
    top: 25%;
}
.burger span:nth-of-type(3){
    top: 50%;
}

/*비주얼문구*/
.text_box{
    width: 40%;
    position: relative;
    z-index: 10;
    left: 12%; top: 0;
}

.text_box p{
    width: 100%;
    font-family: 'Nanum Gothic', sans-serif;
}

.text_box p:nth-of-type(1){
    font-size: 12vw;
    opacity: 3%;
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: -20%;
}

.text_box p:nth-of-type(2){
    font-size: 5vw;
    font-weight: bold;
    color: #122225;
}

.text_box p:nth-of-type(3){
    font-weight: 500;
    font-size: 1.5vw;
    color: #777;
    white-space: pre-line;
}

/*뉴스*/
.news_list{
    width: 24%; height: 20px;
    position: relative;
    margin-left: 12%;
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.news_list ul{
    width: 100%;
}
.news_list ul li{}
.news_list ul li a{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}
.news_list >a {
    width: 18px; height: 18px;
}
.news_list >a img{
    width: 18px;
}

/*비주얼이미지*/
.visual_box{
    width: 50%; 
    position: absolute;
    right: 0px; top: 0;
}
/*이미지*/

.visual_list{
    float: right;
    width: 90%; height: 100vh;
    overflow: hidden;
    position: absolute;
    right: 100px; top: 0;
}
.visual_list ul{
    width: 100%; height: 100%;
    position: absolute;
    left: 0; top: 0;
    display: flex;
    overflow: hidden;
}
.visual_list ul li{
    width: 100%; height: 100vh;
    position: absolute;
    left: 0; top: 0;
    background: #eff0f0;
    transition: .7s;
    overflow: hidden;
}
.visual_list ul li:nth-of-type(2){
    background: #edf5f3;
    opacity: 0;

}
.visual_list ul li:nth-of-type(3){
    background: #96b4ae;
    opacity: 0;
}
.visual_list ul li img{
    position: absolute;
    left: 50%; bottom: 0%;
    transform: translateX(-50%);
}

/*인디게이터*/
.indi{
    width: 10%;
    position: absolute;
    right: 0%;
    margin-top: 35%;
}
.indi a{
    display: block;
    width: 100%;
    text-align: center;
}

.indi a img{}
.indi >span{
    width: 100%;
    font-size: 1.375rem;
    padding: 30px 0;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    color: #cfcfcf;
}
.indi span .number{
    font-size: 2rem;
    font-weight: normal;
    color: #122225;
    transition: .5s;
}

/*영화리스트*/
.movie_list{
    width: 45%; height: 123px;
    position: absolute;
    right: 100px; bottom: 3%;
}
.movie_list a{
    position: absolute;
    left: -140px;
    width: 140px;
    height: 100%;
    line-height: 140px;
    background: #a9c9c2;
}
.movie_list a img{
    width: 25px; height: 25px;
    padding: 0px 60px;
}
.movie_list .slide{
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.2);
    overflow: hidden;
}
.movie_list .slide ul{
    width: 1230px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap:nowrap;
}
.movie_list .slide ul li{
    flex: 0 0 auto;
    margin: 20px 20px;
    display: inline-block;
    font-size: 0;
}
.movie_list .slide ul li img{
    width: 100%;
}

/*푸터*/
footer{
    position:absolute;bottom:10%; left:0;
    transform: rotate(270deg);
    transform-origin: 10% 100%;
}
footer span{
    font-size: 0.875rem;
    font-family: 'Nanum Gothic', sans-serif;
}
footer span:after{
    margin-left: 30px;
    width: 380px; height: 1px;
    display: inline-block;
    content: '';
    background: #61887e;
}












@media (max-width:1350px){
/*네비*/
nav{
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 60px 110px;
    display: none;
}
nav a{
    font-size: 1.16rem;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    transition: .5s;
}
nav a:before{
    content: "";
    display: block;
    width: 0%; height: 3px;
    margin-left: 50%;
    margin-bottom: 3px;
    background: #62aaae;
    transition: .3s;
}
nav a:hover:before{
    margin-left: 0;
    width: 100%;
}
nav a:hover{
    color: #62aaae;
}

/*버거*/
.burger{
    width: 35px; height: 35px;
    position: relative;
    margin: 60px 110px;
    display: block;
    z-index: 10;
}
.burger:hover{
    cursor: pointer;
}
.burger span{
    width: 35px; height: 2px;
    background: #62aaae;
    position: absolute;
    left: 0; top: 0;
}
.burger span:nth-of-type(1){}
.burger span:nth-of-type(2){
    top: 25%;
}
.burger span:nth-of-type(3){
    top: 50%;
}
    
/*비주얼문구*/
.text_box{
    width: 40%;
    position: relative;
    z-index: 10;
    left: 12%; top: 0%;
}

.text_box p{
    width: 100%;
    font-family: 'Nanum Gothic', sans-serif;
}

.text_box p:nth-of-type(1){
    font-size: 12vw;
    opacity: 3%;
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: -20%;
}

.text_box p:nth-of-type(2){
    font-size: 5vw;
    font-weight: bold;
    color: #122225;
}

.text_box p:nth-of-type(3){
    font-weight: 500;
    font-size: 1.5vw;
    color: #777;
    white-space: pre-line;
}

/*뉴스*/
.news_list{
    width: 24%; height: 20px;
    position: relative;
    margin-left: 12%;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.news_list ul{
    width: 100%;
}
.news_list ul li{}
.news_list ul li a{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}
.news_list >a {
    width: 18px; height: 18px;
}
.news_list >a img{
    width: 18px;
}

/*비주얼이미지*/
.visual_box{
    width: 50%; 
    position: absolute;
    right: 0px; top: 0;
}
/*이미지*/

.visual_list{
    float: right;
    width: 90%; height: 100vh;
    overflow: hidden;
    position: absolute;
    right: 100px; top: 0;
}
.visual_list ul{
    width: 100%; height: 100%;
    position: absolute;
    left: 0; top: 0;
    display: flex;
    overflow: hidden;
}
.visual_list ul li{
    width: 100%; height: 100vh;
    position: absolute;
    left: 0; top: 0;
    background: #eff0f0;
    transition: .7s;
    overflow: hidden;
}
.visual_list ul li:nth-of-type(2){
    background: #edf5f3;
    opacity: 0;

}
.visual_list ul li:nth-of-type(3){
    background: #96b4ae;
    opacity: 0;
}
.visual_list ul li img{
    position: absolute;
    left: 50%; bottom: 0;
    transform: scale(1) translateX(-50%);
}

/*인디게이터*/
.indi{
    width: 10%;
    position: absolute;
    right: 2%;
    margin-top: 35%;
}
.indi a{
    display: block;
    width: 100%;
    text-align: center;
}

.indi a img{}
.indi >span{
    width: 100%;
    font-size: 1.375rem;
    padding: 30px 0;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    color: #cfcfcf;
}
.indi span .number{
    font-size: 2rem;
    font-weight: normal;
    color: #122225;
    transition: .5s;
}

/*영화리스트*/
.movie_list{
    width: 45%; height: 123px;
    position: absolute;
    right: 100px; bottom: 3%;
}
.movie_list a{
    position: absolute;
    left: -140px;
    width: 140px;
    height: 100%;
    line-height: 140px;
    background: #a9c9c2;
}
.movie_list a img{
    width: 25px; height: 25px;
    padding: 0px 60px;
}
.movie_list .slide{
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.2);
    overflow: hidden;
}
.movie_list .slide ul{
    width: 1230px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap:nowrap;
}
.movie_list .slide ul li{
    flex: 0 0 auto;
    margin: 20px 20px;
    display: inline-block;
    font-size: 0;
}
.movie_list .slide ul li img{
    width: 100%;
}

/*푸터*/
footer{
    position:absolute;bottom:10%; left:0;
    transform: rotate(270deg);
    transform-origin: 10% 100%;
}
footer span{
    font-size: 0.875rem;
    font-family: 'Nanum Gothic', sans-serif;
}
footer span:after{
    margin-left: 30px;
    width: 380px; height: 1px;
    display: inline-block;
    content: '';
    background: #61887e;
}
}



@media (max-width:1024px){
/*네비*/
nav{
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 60px 110px;
    display: none;
}
nav a{
    font-size: 1.16rem;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    transition: .5s;
}
nav a:before{
    content: "";
    display: block;
    width: 0%; height: 3px;
    margin-left: 50%;
    margin-bottom: 3px;
    background: #62aaae;
    transition: .3s;
}
nav a:hover:before{
    margin-left: 0;
    width: 100%;
}
nav a:hover{
    color: #62aaae;
}

/*버거*/
.burger{
    width: 35px; height: 35px;
    position: relative;
    margin: 60px 110px;
    display: block;
    z-index: 10;
}
.burger:hover{
    cursor: pointer;
}
.burger span{
    width: 35px; height: 2px;
    background: #62aaae;
    position: absolute;
    left: 0; top: 0;
}
.burger span:nth-of-type(1){}
.burger span:nth-of-type(2){
    top: 25%;
}
.burger span:nth-of-type(3){
    top: 50%;
}
    
/*비주얼문구*/
.text_box{
    width: 40%;
    position: relative;
    z-index: 10;
    left: 12%; top: 0%;
}

.text_box p{
    width: 100%;
    font-family: 'Nanum Gothic', sans-serif;
}

.text_box p:nth-of-type(1){
    font-size: 12.5vw;
    opacity: 3%;
    font-weight: bold;
    margin-left: 5%;
    margin-bottom: -20%;
}

.text_box p:nth-of-type(2){
    font-size: 6vw;
    font-weight: bold;
    color: #122225;
}

.text_box p:nth-of-type(3){
    font-weight: lighter;
    font-size: 2vw;
    color: #777;
    white-space: pre-line;
}

/*뉴스*/
.news_list{
    width: 24%; height: 20px;
    position: relative;
    margin-left: 12%;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.news_list ul{
    width: 100%;
}
.news_list ul li{}
.news_list ul li a{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}
.news_list >a {
    width: 18px; height: 18px;
}
.news_list >a img{
    width: 18px;
}

/*비주얼이미지*/
.visual_box{
    width: 50%; 
    position: absolute;
    right: 0px; top: 0;
}
/*이미지*/

.visual_list{
    float: right;
    width: 90%; height: 100vh;
    overflow: hidden;
    position: absolute;
    right: 80px; top: 0;
}
.visual_list ul{
    width: 100%; height: 100%;
    position: absolute;
    left: 0; top: 0;
    display: flex;
    overflow: hidden;
}
.visual_list ul li{
    width: 100%; height: 100vh;
    position: absolute;
    left: 0; top: 0;
    background: #eff0f0;
    transition: .7s;
    overflow: hidden;
}
.visual_list ul li:nth-of-type(2){
    background: #edf5f3;
    opacity: 0;

}
.visual_list ul li:nth-of-type(3){
    background: #96b4ae;
    opacity: 0;
}
.visual_list ul li img{
    position: absolute;
    left: 35%; bottom: -15%;
    transform: scale(0.75) translateX(-50%);
}

/*인디게이터*/
.indi{
    width: 10%;
    position: absolute;
    right: 2%;
    margin-top: 35%;
}
.indi a{
    display: block;
    width: 100%;
    text-align: center;
}

.indi a img{}
.indi >span{
    width: 100%;
    font-size: 1.375rem;
    padding: 30px 0;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    color: #cfcfcf;
}
.indi span .number{
    font-size: 2rem;
    font-weight: normal;
    color: #122225;
    transition: .5s;
}

/*영화리스트*/
.movie_list{
    width: 45%; height: 123px;
    position: absolute;
    right: 80px; bottom: 3%;
}
.movie_list a{
    position: absolute;
    left: -140px;
    width: 140px;
    height: 100%;
    line-height: 140px;
    background: #a9c9c2;
}
.movie_list a img{
    width: 25px; height: 25px;
    padding: 0px 60px;
}
.movie_list .slide{
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.2);
    overflow: hidden;
}
.movie_list .slide ul{
    width: 1230px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap:nowrap;
}
.movie_list .slide ul li{
    flex: 0 0 auto;
    margin: 20px 20px;
    display: inline-block;
    font-size: 0;
}
.movie_list .slide ul li img{
    width: 100%;
}

/*푸터*/
footer{
    position:absolute;bottom:10%; left:0;
    transform: rotate(270deg);
    transform-origin: 10% 100%;
}
footer span{
    font-size: 0.875rem;
    font-family: 'Nanum Gothic', sans-serif;
}
footer span:after{
    margin-left: 30px;
    width: 380px; height: 1px;
    display: inline-block;
    content: '';
    background: #61887e;
}
}

@media (max-width:768px){}

@media (max-width:480px){}