@import url("common.css");

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/*font-family: 'Nanum Gothic', sans-serif; 나눔고딕*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/*font-family: 'Archivo', sans-serif; 네비 폰트*/

/*네비*/
nav{
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 60px 110px;
}
nav a{
    font-size: 1.16rem;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    transition: .5s;
}

nav a:before{
    content: "";
    display: block;
    width: 0%; height: 3px;
    margin-left: 50%;
    margin-bottom: 3px;
    background: #62aaae;
    transition: .3s;
}
nav a:hover:before{
    margin-left: 0;
    width: 100%;
}
nav a:hover{
    color: #62aaae;
}

nav a:nth-of-type(3){
    color: #62aaae;
}

/*버거*/
.burger{
    width: 35px; height: 35px;
    position: relative;
    z-index: 60;
    margin: 30px 30px;
    display: none;
}
.burger span{
    width: 35px; height: 2px;
    background: #62aaae;
    position: absolute;
    left: 0; top: 0;
}
.burger span:nth-of-type(1){}
.burger span:nth-of-type(2){
    top: 25%;
}
.burger span:nth-of-type(3){
    top: 50%;
}

/*버거메뉴 팝*/
.pop{
    position: fixed;
    left: 0; top: 0;
    width: 18%; height: 100%;
    z-index: 50;
    background: rgba(0,0,0,0.8);
    padding: 10% 5%;
    display: none;
}
.pop a{
    font-size: 2rem;
    display: block;
    /* margin: 0; */
    color: #62aaae;    
}

.container{
    width: 73%;
    margin: 0 auto;
    padding: 5% 0 0 0;
}
.container section{
    width: 100%; 
    padding-bottom: 32.5%;
    margin: 0 0 5% 0;
}

.container section .photo{
    width: 45%; 
    position: relative;
}
.container section .photo:hover{
    cursor: pointer;
}
.container section .photo:hover p:nth-of-type(1){
    transform: rotate(-8deg);
    opacity: 0.5;
}
.container section .photo:hover p:nth-of-type(2){
    transform: rotate(-16deg);
    opacity:0.2;
}

.container section .photo p{
    width: 100%;
    position: absolute;
    transition: .5s;
}

.container section .photo p img{
    width: 100%;
}
.container section .text{
    width: 45%;
    padding: 0 2%;
    line-height: 160%;
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
}

.container section .text strong{
    font-size: 1.5vw;
    margin: 0 0 3% 0;
}
.container section .text p{
    margin: 4% 0;
}

.container section .text span{
    font-size: 391px;
    font-weight: bold;
    font-family: 'Archivo', sans-serif;
    color: rgba(0,0,0,0.05);
    position: absolute;
    bottom: 0;
}

section .pop{
    clear: both;
    position: fixed;
    left: 0; top: 0;
    width: 90%; height: 100%;
    background: rgba(255,255,255,0.8);
    padding: 5%;
    z-index: 10;
    display: flex;
/*    border: 1px solid #0f0;*/
}
section .pop .box{
    margin: auto;
    position: relative;
    background: #e6f2ef;
    width: 100%; height: 65%;
    padding: 0 3%;
    perspective: 2000;
    overflow: hidden;
/*    border: 1px solid #f00;*/
}

/*section .pop .box .title{
    position: absolute;
    padding: 5% 0;
    width: 100%;
    border: 1px solid #00f;
}
section .pop .box .title p{
    width: 100%;
    text-align: center;
    
}*/
section .pop .box .rotate{
    margin: 0 auto;
    width: 30%; height:0px;
    position: relative;
    left: 0%; top: 30%;
    transform-style: preserve-3d;
    transition:.5s;
    animation:gallery 20s linear infinite;
    
}
@keyframes gallery{
    0%{transform: /*rotateX(-5deg)*/ rotateY(0deg);}
    100%{transform: /*rotateX(-5deg)*/ rotateY(360deg);}
    
}
section .pop .box .rotate span{
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
}
section .pop .rotate span:nth-of-type(1){
    transform: rotateY(45deg) translateZ(500px);
    z-index: 1;
}
section .pop .rotate span:nth-of-type(2){
    transform: rotateY(90deg) translateZ(500px);
}
section .pop .rotate span:nth-of-type(3){    
    transform: rotateY(135deg) translateZ(500px);
}
section .pop .rotate span:nth-of-type(4){
    transform: rotateY(180deg) translateZ(500px);
}
section .pop .rotate span:nth-of-type(5){
    transform: rotateY(225deg) translateZ(500px);
}
section .pop .rotate span:nth-of-type(6){
    transform: rotateY(270deg) translateZ(500px);
}
section .pop .rotate span:nth-of-type(7){
    transform: rotateY(315deg) translateZ(500px);
}
section .pop .rotate span:nth-of-type(8){
    transform: rotateY(360deg) translateZ(500px);
}
section .pop .box .rotate span img{
    width: 100%;
}

section .pop .box .mini{
    width: 100%;
    padding: 3% 0;
    position: absolute;
    left:0; bottom: 0;
    display: flex;
    justify-content: space-between;
/*    background: #e6f2ef;*/
/*    border: 1px solid #0f0;*/
}
section .pop .box .mini span{
    width: 10%;
}
section .pop .box .mini span img{
    width: 100%;
}



.container .filming .photo{float: left;}
.container .filming .text{float: right;}
.container .filming .text span{right: 0;}

.container .academy .photo{float: right;}
.container .academy .text{float: left; text-align: right;}
.container .academy .text span{left: 0;}

.container .friend .photo{float: left;}
.container .friend .text{float: right;}
.container .friend .text span{right: 0;}


footer{
    border-top: 1px solid #efefef;
    clear: both;
    text-align: center;
    padding: 2%;
}
footer span{
    color: #ccc;
}
.top{
    width: 60px; height: 60px;
    position: fixed;
    right: 3%; bottom: 13%;
    background: #d8e7e3;
    border-radius: 100%;
    text-align: center;
    line-height: 51px;
}