@import url("common.css");

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/*font-family: 'Nanum Gothic', sans-serif; 나눔고딕*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/*font-family: 'Archivo', sans-serif; 네비 폰트*/

/*네비*/
nav{
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 60px 110px;
}
nav a{
    font-size: 1.16rem;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    transition: .5s;
}

nav a:before{
    content: "";
    display: block;
    width: 0%; height: 3px;
    margin-left: 50%;
    margin-bottom: 3px;
    background: #62aaae;
    transition: .3s;
}
nav a:hover:before{
    margin-left: 0;
    width: 100%;
}
nav a:hover{
    color: #62aaae;
}

nav a:nth-of-type(5){
    color: #62aaae;
}
/*
nav a:nth-of-type(4):before{
    margin-left: 0;
    width: 100%;
}
*/

/*게시판*/
.head{
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}
.head h3{
    font-size: 30px;
    margin-bottom: 1%;
}
.head small{
    
}
table{
    width: 60%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 1%;
    border-top: 1px solid #ddd;
    border-collapse: collapse;
    font-family: 'Nanum Gothic', sans-serif;
}
table tr{
    height: 45px;
}

table tr th{
    border-bottom: 1px solid #ddd;
}
table tr td{
    text-align: center;
    border-bottom: 1px solid #efefef;
    font-size: 14px;
}
table tr td:nth-of-type(1){
    width: 8%;
}
table tr td:nth-of-type(2){
    text-align: left;
    width: 60%;
}
table tr td:last-of-type{
    width: 8%;
}
table tr:last-of-type td{
    border-bottom: 1px solid #ddd;
}
.search{
    width: 60%; height: 25px;
    margin: 0 auto;
    margin-bottom: 1%;
}
select{
    font-size: 14px;
    width: 8%; height: 100%;
    vertical-align: middle;
}
select option{
    font-size: 14px;
}

input{
    height: 21px;
    font-size: 14px;
    vertical-align: middle;
}
button{
    width: 5%; height: 100%;
    font-size: 14px;
    background: #fff;
    vertical-align: middle;
    border: 1px solid #a9a9ab;
}

.pager{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5.5%;
}
.pager a:nth-of-type(2),
.pager a:nth-of-type(3){
    margin: 0 0.5%;
    color: #999;
}
.pager a:hover{
    color: #666;
}

/*푸터*/
footer{
    border-top: 1px solid #efefef;
    clear: both;
    text-align: center;
    padding: 2%;
}
footer span{
    color: #ccc;
}
.top{
    width: 60px; height: 60px;
    position: fixed;
    right: 3%; bottom: 13%;
    background: #d8e7e3;
    border-radius: 100%;
    text-align: center;
    line-height: 51px;
    z-index: 20;
}